<%-include("header")%>
<%-include("navbar")%>

<label>
    Product Name
    <%=product.name%>
</label>
<br>
<label>
    Product Price
    <%=product.price%>
</label>
<br>
<label>
    Enter Quantity
    <%=product.qty%>
</label>
<br>
<label>
    Enter Manufacturer
    <%=product.manufacturer%>
</label>
<br>

<%-include("footer")%>